.dogHome{
  min-height: 100vh;
  .headerSection{
    height: 50vh;
    .headerLeft{
      background-color: #6b63ff38;
      border-radius: 60% 40% 70% 30% / 43% 77% 23% 57%;
      color: #000;
      h1{
        font-size: 4em;
        font-weight: 300;
      }
      p{
        font-size: 17px;
      }
    }
    img{
      max-width: 450px;
    }
  }
  .doghouselist{
    background-color: #6b63ff2f;
  }
}
